<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Game Manager</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/public/img/goal.png"/>
    <script data-main="/public/js/main" src="/public/js/lib/require.js"></script>
</head>

<body>
    <header></header>

    <section id="main" class="container">
        <h2>Loading...</h2>
    </section>

    <footer></footer>
</body>

</html>
