<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>NHL Game Data</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <script data-main="/assets/js/main" src="/assets/js/lib/require.js"></script>
</head>

<body>
    <header></header>

    <section id="main" class="container">
    </section>

    <footer></footer>
</body>

</html>
