body {
    background-color: rgb(245, 245, 245);
    background-image: url("/public/img/tweed.png");
}
h1, h2 {
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(213, 211, 211);
}
.game {
    padding: 1em;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    cursor: default;
}
.game:hover {
    background-color: rgb(235, 234, 230);
}
.original-time {
    font-weight: 100;
}
.team-logo {
    height: 3em;
}
.load-more-games {
    text-align: center;
}
.load-more-games-button, .login-button {
    background-color: rgb(213, 211, 211);
    margin-top: 1em;
    margin-bottom: 1em;
}
.login-input {
    margin-top: 1em;
}
.login-button-row {
    text-align: center;
    margin-top: 1em;
}
/* large */
 @media (min-width: 768px) {
    .watched-button {
        margin-left: 1em;
    }
    .sport-logo {
        height: 3em;
    }
    .cancel-notes-button {
        margin-left: 1em;
    }
}
/* small */
 @media (max-width: 768px) {
    .game-element {
        padding-left: 0em;
    }
    .game-element-time, .game-element-logos {
        margin-right: -1em;
    }
    .notes-button, .watched-button, .undo-archived-button {
        margin-top: 0.75em;
        padding: 0.3em 1em;
    }
    .sport-logo {
        width: 2em;
        padding-bottom: 2em;
    }
    .sport-logo-div {
        padding-right: 2.5em;
    }
    #note-value {
        margin-left: 0.5em;
    }
    .game-notes-second-row {
        margin: 1em 0 auto;
        text-align: center;
    }
    .load-more-games-button {
        width: 15em;
    }
}
