body {
    background-color: rgb(3, 33, 69);
}
h1, h2 {
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(213, 211, 211);
}
.btn-primary {
    background-color: rgb(9, 53, 106);
    border-color: rgb(9, 53, 106);
}
.btn-primary:hover {
    background-color: rgb(10, 90, 185);
    border-color: rgb(10, 90, 185);
}
.btn-info {
    background-color: rgb(57, 113, 180);
    border-color: rgb(57, 113, 180);
}
.btn-info:hover {
    background-color: rgb(70, 140, 220);
    border-color: rgb(70, 140, 220);
}
.game {
    padding: 1em;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    cursor: default;
}
.game:hover {
    background-color: rgb(235, 234, 230);
}
.original-time {
    font-weight: 100;
}
.team-logo {
    height: 3em;
}
.load-more-games {
    text-align: center;
}
.load-more-games-button, .login-button {
    background-color: rgb(213, 211, 211);
    margin-top: 1em;
    margin-bottom: 1em;
}
.login-input {
    margin-top: 1em;
}
.login-button-row {
    text-align: center;
    margin-top: 1em;
}
.visible-mobile {
    display: none !important;
}
/* bootstrap xtra-small */
 @media (max-width: 767px) {
    .game-element-time {
        padding-right: 0em;
    }
}
/* non-mobile */
 @media (min-width: 560px) {
    .game {
        min-height: 72px;
    }
    .notes-button, .watched-button, .update-notes-button, .cancel-notes-button {
        margin-top: 0.75em;
        padding: 0.3em 1em;
        width: 6em;
    }
    .undo-archived-button {
        margin-top: 0.75em;
        padding: 0.3em 1em;
        width: 10em;
    }
    .notes-button, .update-notes-button {
        margin-left: -2em;
    }
    #note-value {
        width: 95%;
    }
    .watched-button {
        margin-left: 1em;
    }
    .sport-logo {
        height: 3em;
    }
    .cancel-notes-button {
        margin-left: 1em;
    }
}
/* mobile */
 @media (max-width: 559px) {
    .hidden-mobile {
        display: none !important;
    }
    .visible-mobile {
        display: block !important;
    }
    .game {
        min-height: 112px;
    }
    .game-element {
        padding-left: 0em;
    }
    .game-element-time, .game-element-logos {
        margin-right: -1em;
    }
    .notes-button, .watched-button, .undo-archived-button {
        margin-top: 0.75em;
        padding: 0.3em 1em;
        height: 2.5em
    }
    .notes-button, .watched-button {
        width: 7em;
        margin-left: -0.5em;
    }
    .update-notes-button, .cancel-notes-button {
        padding: 0.3em 1em;
        width: 9em;
        height: 2.75em;
    }
    .update-notes-button {
        margin-left: 1.75em;
    }
    .sport-logo {
        width: 2em;
        padding-bottom: 2em;
    }
    .sport-logo-div {
        padding-right: 2.5em;
    }
    #note-value {
        margin-left: 0.5em;
    }
    .game-notes-second-row {
        margin: 1em 0 auto;
        text-align: center;
    }
    .load-more-games-button {
        width: 15em;
    }
}
