<h1>Game Manager</h1>

<div id="available-games-content">
    <h2>Available Games</h2>
    <div class="row">
        <div id="available-games" class="col-md-6 col-md-offset-3"></div>
    </div>
</div>

<div id="future-games-content">
    <h2 id="future-games-header">Future Games</h2>
    <div class="row">
        <div id="future-games" class="col-md-6 col-md-offset-3" style="display:none;"></div>
    </div>
</div>

<div id="archived-games-content">
    <h2 id="archived-games-header">Archived Games</h2>
    <div class="row">
        <div id="archived-games" class="col-md-6 col-md-offset-3" style="display:none;"></div>
    </div>
</div>
