<div class="game row">
    <div class="game-element col-xs-12 col-md-9">
        <input type="text" id="note-value" class="form-control" value="<%- notes %>" placeholder="Notes..." autofocus="true"/>
    </div>
    <div class="game-element col-xs-6 col-md-1 game-notes-second-row">
        <button class="btn btn-xs btn-primary update-notes-button">Update</button>
    </div>
    <div class="game-element col-xs-6 col-md-2 game-notes-second-row">
        <button class="btn btn-xs btn-primary cancel-notes-button">Cancel</button>
    </div>
</div>
