<% if (isGameOver) { %>
<div class="game row game-over">
<% } else { %>
<div class="game row">
<% } %>
    <% var gameTimeMoment = moment(gameTimeUTC) %>
    <% var availableTimeMoment = moment(availableGameTimeUTC) %>
    <div class="game-element col-md-2">
        <% if (isBlackedOut) { %>
        <div class="original-time">
        <% } %>
        <%- gameTimeMoment.format("MM/DD/YYYY") %>
        <% if (isBlackedOut) { %>
        </div>
        <%- availableTimeMoment.format("MM/DD/YYYY") %>
        <% } %>
    </div>
    <div class="game-element col-md-2">
        <% if (isBlackedOut) { %>
        <div class="original-time">
        <% } %>
        <%- gameTimeMoment.format("h:mm A") %>
        <% if (isBlackedOut) { %>
        </div>
        <%- availableTimeMoment.format("h:mm A") %>
        <% } %>
    </div>
    <div class="game-element col-md-4">
        <%- awayTeamName %> at <%- homeTeamName %>
    </div>
    <div class="game-element col-md-4">
        <%- networks %>
    </div>
</div>
