<div id="teams">
    <div id="nhl-teams-content">
        <h2>NHL Teams</h2>
        <div class="row">
            <div id="nhl-teams" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <h3>Loading...</h3>
            </div>
        </div>
    </div>
    <div id="nba-teams-content">
        <h2>NBA Teams</h2>
        <div class="row">
            <div id="nba-teams" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <h3>Loading...</h3>
            </div>
        </div>
    </div>
</div>
